neural_network_simple/cifar-10-batches-py/**
neural_network_simple/testing/**
neural_network_simple/training/**
logistic_regression/testing_income/**
logistic_regression/testing_mnist/**
logistic_regression/training_mnist/**
logistic_regression/training_income/**
**/__pycache__/**
neural_network_covid/covidx-cxr2/**
neural_network_covid/covidx-cxr2.zip
neural_network_covid/training/**
neural_network_covid/testing/**